.box{
    width: 30px;
    .main{
        font-size: 12px;
    }
    .footer{
        color: blue;
    }
    .head{
        background: red;
    }
    #btn{
        height: 100px;
        color: #FF0000;
        background: black;
        width: 300px;
    }
}
